
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş Tamamlandı.</h2>


            <h4>Satın aldığınız ürünler en kısa sürede kargoya verilecektir. İyi günler dileriz.</h4>
            <a href="/Account/Index">Siparişlere Göz at.</a>
        </div>
    </div>



</div>

